<aside class="materials">
    <div class="materials-content">
        <legend class="material-legend">

        </legend>
        <div class="material-main__content">
            <div class="material-semester">
                <div class="material-description">
                    <p class="material-semester__name">
                        Первый семестр
                    </p>
                    <span class="material-semester__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod cumque, voluptatem
                        commodi ut velit in doloribus perferendis, dolor modi, minima perspiciatis nemo
                    </span>
                    <button class="material-button__rules" type="button">
                        <p class="button-title">Lorem ipsum</p>
                    </button>
                </div>
                <ul class="material-subjects">
                    <li class="subject-type subject-type--exam">
                        <a class="subject-type__link" href="history.html">
                            <div class="subject-type__header">
                                <div class="subject-type__definition">
                                    <p class="subject-type__title">История Беларуси</p>
                                    <span class="subject-type__description">Экзаменационный предмет</span>
                                </div>
                                <div class="subject-type__block-image">
                                    <img class="subject-type__img" src="img/history.png" alt="История">
                                </div>
                            </div>
                            <p class="subject-type__progress-description">Пройденно от материала:</p>
                            <p class="subject-type__progress">80%</p>
                            <div class="subject-type__progress-bar"></div>
                        </a>
                    </li>
                    <li class="subject-type">

                    </li>
                    <li class="subject-type">

                    </li>
                    <li class="subject-type">

                    </li>
                    <li class="subject-type">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>